**SETTING UP ENVIRONMENT AND CONNECT TO POSTGRESQL**

In [1]:
import pandas as pd
from functools import reduce

%load_ext sql
%sql postgresql://s2431645:_s2431645_@gip.itc.utwente.nl:5434/c211

**DATA CLEANING AND FILTERING**

In [2]:
# EXPORTING BLOCK(SQL) TO CSV

block_results = %sql \
select b.block, b.longit, b.latit, b.geom  \
from block as b \
where b.latit != 0 and b.latit!= 393 and b.block <= 43000 \
order by b.block asc \

block = block_results.DataFrame()
block.to_csv("block.csv",
             index = False,
             encoding = 'utf-8-sig')

 * postgresql://s2431645:***@gip.itc.utwente.nl:5434/c211
42799 rows affected.

In [3]:
# EXPORTING OBSERVER INTERNSITY(SQL) TO CSV

observer_intensity_results = %sql \
select o.block, COUNT(distinct o.observer) AS observer_intensity \
from observation as o \
where o.block <= 43000 \
group by o.block \
order by o.block asc \

observer_intensity = observer_intensity_results.DataFrame()
observer_intensity.to_csv("observer intensity.csv",
             index = False,
             encoding = 'utf-8-sig')

 * postgresql://s2431645:***@gip.itc.utwente.nl:5434/c211
40052 rows affected.

In [4]:
# EXPORTING BIRD-BIODIVERSITY(SQL) TO CSV

birds_results = %sql \
select bio.block, bio.aves2012_2016 as birds \
from biodiversity as bio \
where bio.block <= 43000 \
order by bio.block asc \

birds = birds_results.DataFrame()
birds.to_csv("birds.csv",
             index = False,
             encoding = 'utf-8-sig')

 * postgresql://s2431645:***@gip.itc.utwente.nl:5434/c211
43000 rows affected.

In [5]:
# EXPORTING SURROUNDING DEMOGRAPHY(SQL) TO CSV

surr_demography_results = %sql \
select d.block, d.pop225 as surr_pop \
from block_demography as d \
where d.block <= 43000 \
order by d.block asc \

surr_demography_results = surr_demography_results.DataFrame()
surr_demography_results.to_csv("surrounding demography.csv",
             index = False,
             encoding = 'utf-8-sig')

 * postgresql://s2431645:***@gip.itc.utwente.nl:5434/c211
36041 rows affected.

In [6]:
# EXPORTING ABSOLUTE DEMOGRAPHY(SQL) TO CSV

absolute_demography_results = %sql \
select d.block, d.pop001 as abs_pop \
from block_demography as d \
where d.block <= 43000 \
order by d.block asc \

absolute_demography_results = absolute_demography_results.DataFrame()
absolute_demography_results.to_csv("absolute demography.csv",
             index = False,
             encoding = 'utf-8-sig')

 * postgresql://s2431645:***@gip.itc.utwente.nl:5434/c211
36041 rows affected.

In [7]:
# EXPORTING NATURAL RESERVES LAND COVERAGE(SQL) TO CSV

natural_land_results = %sql \
select l.block, l.areasum as nat_cover \
from block_landuse as l \
where l.category = 'nature reserves' and l.block <= 43000 \
order by l.block asc \

natural_land = natural_land_results.DataFrame()
natural_land.to_csv("natural_land.csv",
             index = False,
             encoding = 'utf-8-sig')

 * postgresql://s2431645:***@gip.itc.utwente.nl:5434/c211
14631 rows affected.

In [8]:
# EXPORTING BUILT-UP LAND COVERAGE(SQL) TO CSV

builtup_land_results = %sql \
select l.block, l.areasum as built_cover \
from block_landuse as l \
where l.category = 'Bebouwd' and l.block <= 43000 \
order by l.block asc \

builtup_land = builtup_land_results.DataFrame()
builtup_land.to_csv("builtup_land.csv",
             index = False,
             encoding = 'utf-8-sig')

 * postgresql://s2431645:***@gip.itc.utwente.nl:5434/c211
13136 rows affected.

In [9]:
# EXPORTING ROAD ACCESS COVERAGE TOTAL (SQL) TO CSV

road_access_results = %sql \
select r.block, sum(r.roadlength) as roadlength \
from block_road_access as r \
where r.block <= 43000 \
group by r.block \
order by r.block asc \

road_access = road_access_results.DataFrame()
road_access.to_csv("road access.csv",
             index = False,
             encoding = 'utf-8-sig')

 * postgresql://s2431645:***@gip.itc.utwente.nl:5434/c211
32799 rows affected.

In [10]:
# EXPORTING ROAD ACCESS COVERAGE MUNICIPAL (SQL) TO CSV

road_access_municipal = %sql \
select r.block, sum(r.roadlength) as G_roadlength \
from block_road_access as r \
where r.block <= 43000 and r.maintainer = 'G'\
group by r.block \
order by r.block asc \

road_access_municipal = road_access_municipal.DataFrame()
road_access_municipal.to_csv("road access municipal.csv",
             index = False,
             encoding = 'utf-8-sig')

 * postgresql://s2431645:***@gip.itc.utwente.nl:5434/c211
30418 rows affected.

In [11]:
# EXPORTING ROAD ACCESS COVERAGE PROVINCE (SQL) TO CSV

road_access_province = %sql \
select r.block, sum(r.roadlength) as P_roadlength \
from block_road_access as r \
where r.block <= 43000 and r.maintainer = 'P'\
group by r.block \
order by r.block asc \

road_access_province = road_access_province.DataFrame()
road_access_province.to_csv("road access province.csv",
             index = False,
             encoding = 'utf-8-sig')

 * postgresql://s2431645:***@gip.itc.utwente.nl:5434/c211
7736 rows affected.

In [12]:
# EXPORTING AVERAGE PRECIPITATION(SQL) TO CSV

precipitation_results = %sql \
select p.block, avg(p.precip) AS ave_precip \
from precipitation as p \
where p.block <= 43000 \
group by p.block \
order by p.block asc \

precipitation = precipitation_results.DataFrame()
precipitation.to_csv("precipitation.csv",
             index = False,
             encoding = 'utf-8-sig')

 * postgresql://s2431645:***@gip.itc.utwente.nl:5434/c211
38683 rows affected.

In [13]:
# EXPORTING AVERAGE TEMPERATURE(SQL) TO CSV

temperature_results = %sql \
select t.block, avg(t.temper) AS ave_temper \
from temperature as t \
where t.block <= 43000 \
group by t.block \
order by t.block asc \

temperature = temperature_results.DataFrame()
temperature.to_csv("temperature.csv",
             index = False,
             encoding = 'utf-8-sig')

 * postgresql://s2431645:***@gip.itc.utwente.nl:5434/c211
41806 rows affected.

**JOINING MULTIPLE TABLES WITH 'BLOCK' AS PRIMARY KEY**

In [14]:
# loading multiple dataset
filenames = ['block.csv',
             'birds.csv',
             'natural_land.csv',
             'builtup_land.csv',
             'observer intensity.csv',
             'precipitation.csv',
             'road access.csv',
             'road access province.csv',
             'road access municipal.csv',
             'surrounding demography.csv',
             'absolute demography.csv',
             'temperature.csv']

# concatenate and combine with block as primary key
files_combined = [pd.read_csv(filename, index_col = 'block' ) for filename in filenames]
all_combined_data = files_combined[0].join(files_combined[1:])

all_combined_data

,longit,latit,geom,birds,nat_cover,built_cover,observer_intensity,ave_precip,roadlength,p_roadlength,g_roadlength,surr_pop,abs_pop,ave_temper
block,,,,,,,,,,,,,,
1,9.0,390.0,0103000020407100000100000005000000000000000094...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10.0,388.0,0103000020407100000100000005000000000000000088...,0,1000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10.0,389.0,0103000020407100000100000005000000000000000088...,0,1000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10.0,390.0,0103000020407100000100000005000000000000000088...,0,1000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10.0,391.0,0103000020407100000100000005000000000000000088...,0,1000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42996,268.0,536.0,010300002040710000010000000500000000000000805B...,13,NaN,NaN,9.0,2.072796,772.369118,NaN,772.369118,18260.0,0.0,12.942239
42997,268.0,537.0,010300002040710000010000000500000000000000805B...,9,NaN,NaN,5.0,2.067798,2273.281344,NaN,2273.281344,21740.0,30.0,12.933096
42998,268.0,538.0,010300002040710000010000000500000000000000805B...,3,NaN,NaN,7.0,2.063716,1125.136578,NaN,1125.136578,23105.0,20.0,12.923839
42999,268.0,539.0,010300002040710000010000000500000000000000805B...,18,NaN,NaN,16.0,2.058827,4744.699569,NaN,4744.699569,22600.0,30.0,12.914459
43000,268.0,540.0,010300002040710000010000000500000000000000805B...,21,NaN,NaN,19.0,2.054398,448.897117,NaN,448.897117,21870.0,0.0,12.904948

In [15]:
# removing null values
clean_data = all_combined_data.dropna()

clean_data

,longit,latit,geom,birds,nat_cover,built_cover,observer_intensity,ave_precip,roadlength,p_roadlength,g_roadlength,surr_pop,abs_pop,ave_temper
block,,,,,,,,,,,,,,
263,20.0,394.0,0103000020407100000100000005000000000000000088...,206,27161.740298,102270.628859,692.0,1.400317,4618.169916,888.264930,1747.643559,20220.0,215.0,13.253609
342,22.0,392.0,010300002040710000010000000500000000000000007C...,155,27157.048080,93874.209933,210.0,1.417600,9352.584991,303.279631,6919.450000,48245.0,350.0,13.212659
471,25.0,399.0,010300002040710000010000000500000000000000006A...,112,597010.685352,33654.056980,257.0,1.558240,3912.933792,386.662170,839.330723,26085.0,185.0,13.299142
535,27.0,380.0,010300002040710000010000000500000000000000005E...,72,323290.140570,407059.589536,222.0,1.470930,11636.788825,168.107841,11468.680984,47325.0,1460.0,13.212414
577,28.0,379.0,0103000020407100000100000005000000000000000058...,30,501.018781,94882.073010,55.0,1.501031,8961.036946,257.993760,4985.367147,31580.0,490.0,13.238519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42573,264.0,472.0,010300002040710000010000000500000000000000001D...,14,34355.813046,15842.603149,19.0,1.858737,2617.344001,1188.851154,1428.492847,120680.0,95.0,13.598321
42578,264.0,477.0,010300002040710000010000000500000000000000001D...,53,129433.525181,134.836949,46.0,1.819092,2213.577962,239.452538,1974.125424,131080.0,55.0,13.591774
42679,265.0,473.0,010300002040710000010000000500000000000000A02C...,69,129360.825995,10475.033122,44.0,1.851409,2557.148646,1163.971774,1393.176873,95090.0,60.0,13.595183
42680,265.0,474.0,010300002040710000010000000500000000000000A02C...,49,38314.854904,15107.304835,50.0,1.842355,8112.240249,1284.090838,6828.149411,109225.0,200.0,13.594105
42882,267.0,474.0,010300002040710000010000000500000000000000E04B...,54,31492.797013,37534.588789,42.0,1.845994,4741.422881,394.826145,4346.596736,49205.0,175.0,13.588811

**EXPORTING FINAL DATA**

In [16]:
# export to csv
all_combined_data.reset_index(inplace = True)
all_combined_data.to_csv("all spatial data.csv",
                    index = False,
                    encoding = 'utf-8-sig')

clean_data.reset_index(inplace = True)
clean_data.to_csv("spatial data without null values.csv",
                    index = False,
                    encoding = 'utf-8-sig')