**SETTING UP ENVIRONMENT AND CONNECT TO POSTGRESQL**

In [1]:
import pandas as pd
from functools import reduce

%load_ext sql
%sql postgresql://s2507080:_s2507080_@gip.itc.utwente.nl:5434/c211

**DATA CLEANING AND FILTERING**

In [2]:
# EXPORTING OBSERVER INTERNSITY(SQL) TO CSV

observer_intensity_results = %sql \
select o.obsdate as dtime, COUNT(distinct o.observer) AS observer_intensity \
from observation as o \
group by dtime \
order by dtime asc \

observer_intensity = observer_intensity_results.DataFrame()
observer_intensity.to_csv("observer intensity.csv",
             index = False,
             encoding = 'utf-8-sig')

 * postgresql://s2507080:***@gip.itc.utwente.nl:5434/c211
5478 rows affected.

In [3]:
# EXPORTING DAYS (SQL) TO CSV

days_results = %sql \
select d.mdate AS dtime, d.doy, d.dow, d.natholiday \
from days as d \
order by dtime asc \

days = days_results.DataFrame()
days.to_csv("days.csv",
             index = False,
             encoding = 'utf-8-sig')

 * postgresql://s2507080:***@gip.itc.utwente.nl:5434/c211
181 rows affected.

In [4]:
# EXPORTING AVERAGE PRECIPITATION(SQL) TO CSV

precipitation_results = %sql \
select p.dtime, avg(p.precip) AS ave_precip \
from precipitation as p \
group by p.dtime \
order by p.dtime asc \

precipitation = precipitation_results.DataFrame()
precipitation.to_csv("precipitation.csv",
             index = False,
             encoding = 'utf-8-sig')

 * postgresql://s2507080:***@gip.itc.utwente.nl:5434/c211
181 rows affected.

In [5]:
# EXPORTING AVERAGE TEMPERATURE(SQL) TO CSV

temperature_results = %sql \
select t.dtime, avg(t.temper) AS ave_temper \
from temperature as t \
group by t.dtime \
order by t.dtime asc \

temperature = temperature_results.DataFrame()
temperature.to_csv("temperature.csv",
             index = False,
             encoding = 'utf-8-sig')

 * postgresql://s2507080:***@gip.itc.utwente.nl:5434/c211
181 rows affected.

**JOINING MULTIPLE TABLES WITH 'DTIME' AS PRIMARY KEY**

In [6]:
# loading multiple dataset
filenames = ['days.csv',
             'observerint.csv',
             'precipitation.csv',
             'temperature.csv']

# concatenate and combine with block as primary key
files_combined = [pd.read_csv(filename, index_col = 'dtime' ) for filename in filenames]
all_combined_data = files_combined[0].join(files_combined[1:])

all_combined_data

            doy  dow natholiday  observer_intensity  ave_precip  ave_temper
dtime
20170101    1.0  0.0       True                1246    2.991323    3.117668
20170102    2.0  1.0      False                1440    1.211957    5.923946
20170103    3.0  2.0      False                1194    1.973178    6.739538
20170104    4.0  3.0      False                1011    2.087190    7.395226
20170105    5.0  4.0      False                1526    0.006800    3.614235
...         ...  ...        ...                 ...         ...         ...
20170626  177.0  1.0      False                1040    0.000829   20.361995
20170627  178.0  2.0      False                 890    4.530172   21.403248
20170628  179.0  3.0      False                 702   13.369516   21.741147
20170629  180.0  4.0      False                 882    2.782316   20.857240
20170630  181.0  5.0      False                 890   13.176491   20.352138

[181 rows x 6 columns]

In [7]:
# removing null values
clean_data = all_combined_data.dropna()

clean_data

            doy  dow natholiday  observer_intensity  ave_precip  ave_temper
dtime
20170101    1.0  0.0       True                1246    2.991323    3.117668
20170102    2.0  1.0      False                1440    1.211957    5.923946
20170103    3.0  2.0      False                1194    1.973178    6.739538
20170104    4.0  3.0      False                1011    2.087190    7.395226
20170105    5.0  4.0      False                1526    0.006800    3.614235
...         ...  ...        ...                 ...         ...         ...
20170626  177.0  1.0      False                1040    0.000829   20.361995
20170627  178.0  2.0      False                 890    4.530172   21.403248
20170628  179.0  3.0      False                 702   13.369516   21.741147
20170629  180.0  4.0      False                 882    2.782316   20.857240
20170630  181.0  5.0      False                 890   13.176491   20.352138

[181 rows x 6 columns]

**EXPORTING FINAL DATA**

In [8]:
# export to csv
clean_data.reset_index(inplace = True)
clean_data.to_csv("temporal data.csv",
                    index = False,
                    encoding = 'utf-8-sig')